body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Navigation Bar */
nav {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

/* Main Section */
.main {
    text-align: center;
    padding: 50px;
}

.main h1 {
    color: #333;
}

.main p {
    font-size: 18px;
    color: #555;
}


.one{
    text-align: left;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
